$Redesign-1-rgba: rgb(25, 24, 38);
$Redesign-2-rgba: rgb(49, 55, 89);
$Redesign-3-rgba: rgb(48, 132, 242);
$Redesign-4-rgba: rgb(132, 216, 130);
$Redesign-5-rgba: rgb(242, 167, 101);
$font-color: rgb(242, 242, 242);